@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>This is all about me!
    I am Katie Lovgren, I am a senior at Ohio University studying Marketing and MIS. I am from Rochester New York and i chose to go to 
    Ohio University because both my parents and my siter all graduated from here. 
</p>
<address> 
    <p>
        <a href="https://www.linkedin.com/in/katie-lovgren/" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-user"></span>
            </a>
</p>
</address>


