@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    686 New Drive<br />
    Rochester, NY 14581<br />
    <abbr title="Phone">P:</abbr>
    123-456-7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kl261315@ohio.edu">kl261315@ohio.edu</a><br />
</address>